<div class="toolbar" role="banner">
    <img
      width="80" height="30px"
      alt="Angular Logo"
      src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_8d85f4.png"
      />
    <div class="form-group w-50 " >
        <label class="form-control" style="height: 34px;">
        <input type="text" class="w-75"style="border:none;height: 12px;" placeholder="Search for products,brands and more"> 
            <span class="fa fa-search" style="margin-left: 100px;color: #1976d2;"></span>
        </label>
    </div>
    <button >   Login   </button>
    <div class="more">More <span class="fa fa-angle-down"></span></div>
    <div class="cart"> <span class="fa fa-shopping-cart"> Cart
        <div style="font-size: 8px;" class="badge bg-danger">{{totalItem}}</div>
    </span></div>
  </div>

  <app-head-product-list></app-head-product-list>